{{!
  viewer-header.hbs
 
 WORK 상세보기의 상단 영역
}}
  <h1 class="a11y">WORK 상세보기</h1>
  <nav class="viewer-lnb">
    <a class="viewer-btn-close"  href="#work-list">
      <i class="uri-work btn-close"></i>
    </a>
    <a class="viewer-btn-next"  href="#{{next}}">
      <i class="uri-work btn-next"></i>
    </a>
    <a class="viewer-btn-prev"  href="#{{prev}}">
      <i class="uri-work btn-prev"></i>
    </a>
  </nav>
  <header class="viewer-header">
    <h2 class="viewer-title">
      {{title}}
      <small>
        {{subtitle}}
      </small>
    </h2>
    {{#if genre}}
    <dl class="viewer-meta">
      <dt>Genre</dt>
      <dd>{{genre}}</dd>
      <dt>Client</dt>
      <dd>{{client}}</dd>
      <dt>Data</dt>
      <dd>{{pdate}}</dd>
    </dl>
    {{/if}}
    <p class="viewer-content">
      {{breaklines text}}
    </p>
  </header>